<!DOCTYPE html>
<html lang="en">
<head>
    <title>Git Commit Log</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        /* seemingly, every unordered list element usually starts with a bullet points and padding, I don't want that. Here I removed the default list-style */
    </style>
</head>
<body>

<h1>Git Log</h1>

<ul>
    <li th:each="commit : ${commitLog}">
        <!-- Thymeleaf loop for every commit in the commitLog -->
        <p th:utext="${commit}"></p>
        <!-- Thymeleaf expression for pasting commit text -->

    </li>
    <!-- Utilizes Thymeleaf to iterate through each item in the commitLog list and generate a list item (<li>) for each commit. -->
</ul>

</body>
</html>
