<!DOCTYPE html>
<html lang="en">
<head>
  <title>Set Repository Path</title>
</head>
<body>

<h1>Test task 2 - Merge Queue for Kotlin Project</h1>

<form action="/setRepositoryPath" method="post">
  <!-- Specifies the URL where the form data will be sent. In this case, it's "/setRepositoryPath, data will be submitted using HTTP POST method -->
  <label>Enter Git Repository Path: <input type="text" name="repositoryPath"></label>
  <!-- Creates label and input field for entering path, name is set to repositoryPath so that this value can be identified when form is submitted -->
  <button type="submit">Set Repository Path</button>
  <!-- Creates submit button, when clicked: submits data to /setRepositoryPath -->
</form>


</body>
</html>
